.grid_8
  %h1 About Overlake
  
  %p
    OCC is a place where people come as they are, not a place for
    people who have it all together. No perfect people allowed! If you have any
    questions, we'd be happy to help you out in any way we can. If you can join
    us this Sunday, please know you can relax, grab a cup of complimentary
    coffee before the service and feel free to participate in as much or as
    little as you want. Check out
    = link_to 'occ.org', 'http://occ.org'
    and we'll see you on Sunday!
