%h1 Auction Item List

%p Here's a snapshot of the items that will be available to bid on at our auction. You can find more information about all of the items below in our <a href="pdf/AuctionBooklet.pdf">auction booklet</a>.
%p Thank you to all of the generous individuals and companies who donated the items below!

%h3 Live Auction
%ul
  %li 2 Sounders FC tickets with Pregame Sideline Passes
  %li U2 Concert for 4
  %li Obadiah Day of Beauty & Relaxation
  %li The Ultimate Home Improvement Package: Design, Contracting and Cleaning
  %li 
    Restaurant Frenzy! Bid on any of the following restaurant gift certificates:
    %ul
      %li The Maltby Caf&eacute;
      %li Bonefish Grill
      %li Outback Steakhouse
      %li Daniel's Broiler
      %li Joey's
      %li John Howie Steak
      %li Lucia
      %li Masa or Asado
      %li Seastar Bellevue
      %li Seastar Seattle
      %li Sport Restaurant & Bar
      %li Azteca
      %li Big Fish
      %li El Gaucho
      %li P. F. Chang's
      %li Sip Wine Bar
      %li Cactus
      %li Salty's Saturday Brunch for 4
  %li Ultimate Yoga Rejuvination Package
  %li Perfect Puppy Package
  %li Week long Luxury Log Home Vacation in Central Oregon
  %li Bill the Butcher's Natural Wagyu Prime Rib Roast Dinner for 8
  %li Fund-a-need
  %li Four Seattle Mariners Tickets with Parking
  %li Ultimate Woodinville Wine Experience
  %li Team Signed Seattle Sounders Soccer Ball
  %li 2 Seahawk Tickets and Pregame Sideline Passes
  %li Authentic Thai Cooking Class & Dinner Party for 8
  %li Apito JNMotors Bike

%h3 Silent Auction
%ul
  %li Stella & Dot Jewelry Trunk Show
  %li Piano Lessons
  %li Fine Doodles Art Print
  %li Sid Dickens Memory Blocks
  %li Herman Miller Aeron Chair
  %li Financial Class with Jessica Andrews
  %li Definitive Audio Party Package
  %li Common Folk Print & Gift Certificate
  %li Caffe Umbria Coffee Assortment
  %li Swoop Salon haircut & style with products
  %li Cookie Lee Jewelry
  %li Hair Care Basket and $100 Gift Certificate for Mollie Michelle Boutique Salon
  %li Two Victoria Clipper Round Trip Tickets
  %li XBox 360 with 2 Controllers
  %li Microsoft Zune HD
  %li Private Wine Tasting for 8 at Matthews Estate
  %li Salsa Night at Creatively Yours
  %li Pool and Food for 40 at Belltown Billiards
  %li Bowling Party for 8 at Lucky Strike Lanes
  %li 2 All Inclusive Sounder Tickets for Two
  %li 5 Nights in Sunriver, Oregon!
  %li Ultimate Tim's Cascade Snacks Pack
  %li Overnight Stay at the Alderbrook Resort & Spa
  %li $100 Wells Medina Nursery Gift Certificate & Planter
  %li Felix Hernandez Autographed Baseball
  %li Matt Hasselbeck Autographed Football
  %li John Carlson Autographed Football
  %li Fredy Montero Autographed Sounders' Jersey
  %li Kasey Keller Autographed Sounders' Jersey
  %li Professional Hair Color at Cristy Carner Salon
  %li Freddie Ljungberg Autographed Sounders Ball
  %li Starbucks Coffee Gift Pack
  %li DC Products Outdoor Clothing Package
  %li Mariners Game Box Seat Tickets for Two
  %li Seattle Mariners Game Tickets for Four
  %li 8 Capilano Suspension Bridge One-Day Passes
  %li DC Shoe PBJ Snowboard
  %li Snowboard Attire Package
  %li 4 Sounder FC All Inclusive Club Seats and Parking Pass
  %li 5 Haircuts with Hair Designer Gabe Walton
  %li 5 Haircuts with Designer Nathan Alverado
  %li Ultimate Chef's Package
  %li Cannon Beach Getaway at Haystack Lodgings and Dinner for Two
  %li A Redmond Staycation
  %li One Night stay at Campbell's Resort at Lake Chelan
  %li Ultimate Health Package Including Gold's Gym Membership, Wellness Consults and Massage
  %li Private Personal Finance Lessons for Kids and Teens
  %li Wedding Basket Including Customized Scrapbook & Frames, Decorative Items & Bridal Resources
  %li Baby Boy Basket Including Personalized Scrapbook, Gorgeous Frames and Custom Decor
  %li Family Passes to Woodland Park Zoo, The Seattle Aquarium & Children's Museum
  %li Weekend Redmond Get-Away at Hotel Sierra and Big Picture Redmond
  %li Total Wellness Package Including Life Planning, Naturpathic or Acupuncture Treatment and Dental Care
  %li Crossfit Redmond
  %li Fabulous Beach Getaway in Pacific City, Oregon
  %li 2 Tickets to Cirque du Soleil's 'Alegria' in Victoria, BC. Travel provided by the Victoria Clipper
  %li Wine Shop at Home Tasting for 16
  %li Ultimate Little Girl's Package
  %li Ultimate Golfer Package
  %li Callaway-Warbird Stand Bag, Red & Nike SV Tour 56 Sand Wedge
  %li Callaway-Warbird Stand Bag, Black & Nike SV Tour 60 Wedge
  %li Pampered New Momma Package with an All Purpose Blanket for your Baby Girl
  %li Car Care Package
  %li Care for your Mind & Body with Acupuncture & MonaVie's Acai Berry Products
  %li His & Her's Maui Jim Sunglasses
  %li Ultimate Mini Diva in Training
  %li Wine Gift Basket from O Wines
  %li Freedom Stones Recycled Glass Necklace from Ghana
  %li Ultimate Arbonne Package
  %li 4 Tickets to the Boeing Classic at TPC Snoqualmie Ridge
  %li Little Gym Birthday Party Package with personalized t-shirt
  %li Friday Harbor Getaway
  %li $100 Gift Certificate to Marci Jewelry
  %li Chateau Ste. Michelle Wine Set

%p Again, details for most items are available in our <a href="pdf/AuctionBooklet.pdf">auction booklet</a>. Happy bidding!
