.grid_12
  %h1 Race Details

  %h3 Registration
  %p
    %a{ :href => RegistrationLink, :onClick => "recordOutboundLink(this, 'Outbound Links', 'Register');return false;" }
      Register online now!
  %p Online registration ends on Friday, June 15th at 9AM. You can also register on the day of the race for an additional $5.
  
  %h3 Race Information
  %ul
    %li The race route begins and ends at OCC. <a href="images/overlake5k-map.pdf" target="_blank">Course map [PDF]</a>
    %li Kids Fun Run will begin at 8:45am, just prior to the start of the 5K
    %li Event will occur regardless of weather conditions
    %li Strollers and wagons are welcome (WALKING ONLY)
    %li No bicycles, tricycles, skateboards or wheelies
    %li No pets, please
    %li Medical personnel will be on-site
    %li Water will be available on race route
    %li Food and drink will be available post-race
    %li To guarantee an event t-shirt, you must register by October 4
    %li T-shirts not picked up by 11AM on race day will be forfeited
    %li Sorry, no refunds
    
  %h3 Prizes
  %p Prizes will be awarded in the following categories:
  %ul
    %li Overall male and overall female
    %li Top male & top female for these age groups:
    %ul
      %li Age 14 and under
      %li Age 15-19
      %li Age 20-29
      %li Age 30-39
      %li Age 40-49
      %li Age 50-59
      %li Age 60-69
      %li Age 70+
    
  %h3 Packet Pickup
  %p Pickup your Race Packet from 9:00AM &ndash; 1:30PM on Sunday, June 10 or on race day between 7:00AM &ndash; 8:30AM at Overlake Christian Church.
