.grid_4(style="background-color: red; margin-top: 30px")
  %br
  
.grid_8
  %h1 Overlake 5K Race Against HIV/AIDS
  %h2 5K Run/Walk &amp; Kids' Fun Run
  %h3 Presented by <a href="http://www.realitysports.org/" target="_blank">Reality Sports</a>
  
  %h4
    Saturday, October 9, 2010 at 9:00AM
    %br
    at
    = link_to 'Overlake Christian Church', 'http://www.occ.org/love-god/map--directions/'
    %br
    9900 Willows Road NE
    %br
    Redmond, WA 98052
  
  %h3
    = link_to 'Register Now!', RegistrationLink

