%h1 Overlake 5K: Race Against HIV/AIDS
%h2 5K Run/Walk &amp; Kids' Fun Run
%h3 3rd Annual Charity Golf Tournament &amp; Auction
%h4
  9:00AM
  %br
  Saturday October 9, 2010
  %br
  at
  = link_to 'Overlake Christian Church', 'http://www.occ.org/love-god/map--directions/'
  %br
  9900 Willows Road NE
  %br
  Redmond, WA 98052

%p
  %b Registration begins soon!

%style{:type => 'text/css'}
  :sass
    h4
      font-weight: normal
    .content
      text-align: center
      font-size: 1.3em
    ul
      text-align: left
