%style(type='text/css')
  :sass
    h1
      font-size: 30px
    h2
      font-size: 22px
    h3
      font-size: 18px
      margin: 10px 0 6px 0
    .sponsor
      margin-bottom: 10px
    p.detail
      font-size: 13px
      color: #777
    h3.postscript
      color: red

.grid_8(style="margin-top: 20px")
  %h1(style="margin: 0") Overlake 5K Race Against HIV/AIDS
  %h2(style="margin: 0") 5K Run/Walk &amp; Kids' Fun Run
  %h4(style="margin: 0") Presented by <a href="http://www.realitysports.org/" target="_blank">Reality Sports</a>
  %h3.postscript The 2010 Overlake 5K Race Against HIV/AIDS is over! Check out the <a href="images/2010results.pdf">race results and times</a> and <a href="http://www.facebook.com/album.php?aid=236301&amp;id=27565721023&amp;ref=mf">photos</a>.
  %h3(style="margin-bottom: 0")
    9:00AM on Saturday, October 9, 2010
  %h4(style="margin-top: 0")
    At
    = link_to 'Overlake Christian Church', 'http://www.occ.org/im-new/directions/'
    %br
    9900 Willows Road NE
    %br
    Redmond, WA 98052

.grid_4(style="margin-top: 20px")
  %h1(style="margin: 0")
    %a{ :href => RegistrationLink, :onClick => "recordOutboundLink(this, 'Outbound Links', 'Register');return false;" }
      Register Now!
  %p.detail
    All proceeds from the race will benefit two non-profit organizations, one local and one international, that have demonstrated tremendous effectiveness in dealing with HIV/AIDS.
    = link_to 'Learn more', 'causes.html'
  %p.detail
    Special thanks to the local businesses that are sponsoring the race.
    = link_to 'View list', 'sponsors.html'

.clear

.grid_4.alpha
  %img{:src => 'http://farm3.static.flickr.com/2484/4018484848_36fc812c90_m.jpg', :border => 0, :width => 264, :height => 177}
.grid_4
  %img{:src => 'http://farm4.static.flickr.com/3504/4031414368_4d8cbe7d74_m.jpg', :border => 0, :width => 264, :height => 177}
.grid_4.omega
  %img{:src => 'http://farm3.static.flickr.com/2762/4031411582_b8ce07bfcd_m.jpg', :border => 0, :width => 264, :height => 177}
