%h1
  Become a Sponsor
%style{:type => 'text/css'}
  :sass
    table#sponsorships
      margin-top: 2.5em
      td
        padding-right: 30px
      h2
        font-size: 14pt
        padding-bottom: 3px
        border-bottom: 1px solid #AAA
        text-transform: uppercase
      h4
        font-size: 10pt
      ul
        font-size: 10pt
-#
  %p
    Sign up to be a sponsor and a hero in this story by contacting Amy Wasson at <a href="mailto:AmyW@eastsidewomenofpurpose.com">AmyW@eastsidewomenofpurpose.com</a>. We would also love to sit down with you and give you any other information you may need. Please just let us know.
  %p (Every dollar you put towards a sponsorship is completely tax deductible.)
  %table#sponsorships
    %tr
      %td{ :width => "50%" }
        %h2 Tournament<br>Sponsorship Options
        %h4 Presenting Sponsor - $5,000
        %ul
          %li Maximum of two presenting sponsors ($5,000 each)
          %li Name incorporated into event name
          %li Recognition at Banquet
          %li Name on all tournament signage
          %li Recognition in all promotional materials and on website
          %li Receives two playing foursomes (8 players)
        %h4 Sign Sponsor - $2,000
        %ul
          %li Company name on bottom corner of all tournament signage
          %li Recognition on website and promotional materials
          %li Receives one playing foursome (4 players)
        %h4 Cart Sponsor - $1,000
        %ul
          %li Maximum of two cart sponsors ($1,000 each)
          %li Company name on 36 carts (front or back 9 holes)
          %li Recognition on website
        %h4 Hole &amp; Tee Sponsor - $500
        %ul
          %li Name on signage at tee and on flag at hole
          %li Table setup at hole for promotional materials, etc.
          %li Recognition on website and promotional materials
          %li 18 Holes and Tees available
        %h4 Snack Shack Sponsor - $400
        %ul
          %li Name on signage at snack shack on course
          %li Recognition on website
        %h4 Beverage Cart Sponsor - $250
        %ul
          %li Name on signage on beverage cart circling course
          %li Recognition on website
        %h4 Player Sponsor - $200
        %ul
          %li Sponsors one golfer scholarship
          %li Recognition on website
        %h4 Prize Sponsor
        %ul
          %li Donate four (4) items to be used as Tournament Prizes
          %li Recognition on website
        %h4 Gift Bag Sponsor
        %ul
          %li Help fill our Gift Bags with coupons or small gifts that represent your company (up to 144)
          %li Recognition on website
      %td{ :valign => "top", :width => "50%" }
        %h2 Banquet/Auction Sponsorship Options
        %h4 Banquet &amp; Auction Sponsor(s) - $1,500
        %ul
          %li Maximum of two presenting sponsors ($1,500 each)
          %li Recognition at Banquet, on Banquet signage, website and promotional materials
          %li Receives one playing foursome (4 players)
        %h4 Beverage Sponsor - $300
        %ul
          %li Name on signage at Beverage Station during lunch
          %li Recognition on website and Auction Booklet
        %h4 Silent Auction Sponsor - $300
        %ul
          %li Name on signage at auction table during event
          %li Recognition on website and Auction Booklet
        %h4 Table Sponsor - $500
        %ul
          %li Sponsors entire 8-person table (to be filled with guests of your choosing)
          %li Signage recognition at table
          %li Recognition on website and Auction Booklet
        %h4 Auction Item Sponsor
        %ul
          %li Donate a product for our Live or Silent Auction
          %li Recognition on website and Auction Booklet
        %h4 Banquet/Auction Admission - $50
        %ul
          %li Includes one seat at Banquet &amp; Auction
          %li Opportunity to bid in Live Auction
          %li Opportunity to bid in Silent Auction
