.grid_11
  %h1
    Become a Sponsor

  %p Sign up to be a sponsor and a hero in this story by contacting us at <a href="mailto:sponsor@overlake5k.org">sponsor@overlake5k.org</a>. We would also love to sit down with you and give you any other information you may need. Please just let us know.
  %p (Every dollar you put towards a sponsorship is completely tax deductible.)

  %h3 Gold Tier Support ($1500-$2400)
  %ul
    %li Company recognition on &frac12;-mile marker or banner above water station
    %li Company logo on back of t-shirt distributed to each registrant
    %li Company logo displayed on registration website
    %li Company logo displayed in promotion brochure

  %h3 Silver Tier Support ($500-$1499)
  %ul
    %li Company name on back of t-shirt distributed to each registrant
    %li Company logo displayed on registration website
    %li Company name displayed in promotion brochure

  %h3 Bronze Tier Support ($100-$499)
  %ul
    %li Company logo displayed on registration website
    %li Company name displayed in promotion brochure

  %h3 Other
  %ul
    %li We welcome any cash amount or in-kind donation!
