%style(type='text/css')
  :sass
    h3
      margin-bottom: 10px
    .logos
      margin-left: 50px
      a
        margin-right: 20px
      img
        vertical-align: middle

.grid_12
  %h1 Our Sponsors
  
  %p Special thanks to our sponsors! The following businesses have stepped up to help make a difference in the fight against HIV/AIDS. Please take a moment to click on their logos and learn more about the goods and services they offer.

  %p
    Your business can join the fight, too!
    = link_to 'Become a sponsor', 'sponsor.html'

  %h3 Presenting Sponsor
  .logos
    %a(href="http://www.realitysports.org/" target="_blank")<
      %img(src="images/logos/realitysports.png" border="0" alt="Reality Sports")

  %h3 Gold Sponsor
  .logos
    %a(href="http://www.bercgroup.com/" target="_blank")<
      %img(src="images/logos/berc.png" border="0" alt="The BERC Group: Baker - Evaluation - Research - Consulting")

  %h3 Bronze Sponsor
  .logos
    %a(href="http://seattle.citysearch.com/profile/47566799/snohomish_wa/summit_dental.html" target="_blank")<
      %img(src="images/logos/summitdental.jpg" border="0" alt="Summit Dental - Caring Family Dentistry")

.grid_12
  %h3 In-Kind Sponsors
  .grid_6.alpha
    %a(href="http://www.achievingwellness.net/locations/redmond/" target="_blank")<
      %img(src="images/logos/thrive2.png" border="0" alt="Thrive Chiropractic")
    %br
    Thrive Chiropractic will be there the day of the race offering complimentary massages and stretching for race participants!
  .grid_6.omega
    %a(href="http://trifreaks.com" target="_blank")<
      %img(src="images/logos/trifreaks.jpg" border="0" alt="TriFREAKS" style="margin-top: 46px")
    %br
    Thank you to TriFREAKS for donating the course equipment!