%style(type='text/css')
  :sass
    h3
      margin-bottom: 10px
    .logos
      margin-left: 50px
      a
        display: inline-block
        margin-right: 20px
        margin-bottom: 20px
      img
        max-width: 200px
        max-height: 145px
        vertical-align: middle
        border: none

.grid_12
  %h1 Our Sponsors
  
  %p Special thanks to our sponsors! The following businesses have stepped up to help make a difference in the fight against HIV/AIDS. Please take a moment to click on their logos and learn more about the goods and services they offer.

  %p
    Your business can join the fight, too!
    = link_to 'Become a sponsor', 'sponsor.html'

  %h3 Presenting/Gold Sponsor
  .logos
    %a(href="http://www.cintas.com/" target="_blank")<
      %img(src="images/logos/cintas.jpg" alt="CINTAS")

  %h3 Bronze Sponsors
  .logos
    %a(href="http://www.arenasports.net/" target="_blank")<
      %img(src="images/logos/arena.png" alt="Arena Sports")
    / Blaze Timing & Events LLC
    %a(href="http://www.goldsgym.com/" target="_blank")<
      %img(src="images/logos/golds.png" alt="Gold's Gym")
    %a(href="http://www.pacificproaudio.com/" target="_blank")<
      %img(src="images/logos/ppa.jpg" alt="Pacific Pro Audio")
    %a(href="http://www.pricebrothersgarage.net/" target="_blank")<
      %img(src="images/logos/pricebros.jpg" alt="Price Brothers Garage")
    %a(href="http://www.realitysports.org/" target="_blank")<
      %img(src="images/logos/realitysports.png" alt="Reality Sports")
    %a(href="http://www.seattlebellevuechiropractor.com/" target="_blank")<
      %img(src="images/logos/tierone.jpg" alt="Tier One Chiropractic")
    %a(href="http://trifreaks.com" target="_blank")<
      %img(src="images/logos/trifreaks.jpg" alt="TriFREAKS")
